<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beagles MG - Filhotes para Adoção</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
    <header>

        <strong><h1 class="sublinhado">Beagles Do Campo</h1></strong>

        <h3>Filhotes para Adoção</h3>
    </header>

    <div class="container">
        <div class="box">
            <h2>Nossos Filhotes</h2>

            <img src="../static/foto1.jpg" alt="Beagle Filhote">
<a href="https://beaglemg.onrender.com/fotos" target="_blank" rel="noopener noreferrer">
    <img src="../static/mais.png" alt="mais imagens" id="mais">
</a>

            <p>Lindos beagles esperando por você!</p>
            <section>
    <h2>Filhotes de Beagle – Beagles MG</h2>
    <p>Bem-vindo à <strong>Beagles MG</strong>! Estamos apaixonados por essa raça incrível e orgulhosos em oferecer filhotes de beagle saudáveis e cheios de energia para lares amorosos.</p>

    <h3>Sobre Nossos Filhotes</h3>
    <p>Nossos beagles são criados com todo o cuidado e carinho. Cada filhote recebe atenção individual desde o nascimento, garantindo que cresçam saudáveis, felizes e socializados. Eles são conhecidos pela sua personalidade brincalhona e companheira, sendo perfeitos tanto para famílias quanto para pessoas que buscam um amigo fiel.</p>


    <h3>Por Que Escolher um Beagle?</h3>
    <p>Os beagles são cães de médio porte, conhecidos por serem curiosos, inteligentes e muito afetuosos. São ideais para quem busca um companheiro ativo e alegre. Além disso, são ótimos com crianças e convivem bem com outros pets.</p>

    <h3>Quer saber mais?</h3>
    <p>Se você está procurando o companheiro perfeito, fale conosco! Estamos à disposição para responder qualquer dúvida e ajudar você a encontrar o filhote ideal.</p>
</section>



        </div>
    </div>
    <a href="https://wa.me/5531984217616" target="_blank"><img src="../static/image.png" alt="conversar" class="imagem-fixa"></a>
    <a href="https://www.instagram.com/beagles_docampo/" target="_blank"><img src="../static/instagram.png" alt="conversar" class="imagem-fixa" id = "insta"></a>
    <footer>
        <h3><p>Beagles MG &copy; 2024</p></h3>

    </footer>
</body>
</html>
